<h3>Add Product - Reactive</h3>

<form [formGroup]="productAddForm" (ngSubmit)="add()">
  <div class="form-group">
    <input type="text" id="name" name="name" formControlName="name" class="form-control" placeholder="Product Name">
    <div class="alert alert-danger" *ngIf="productAddForm.get('name').hasError('required') && productAddForm.get('name').dirty">Product
      Name Required</div>
  </div>
  <div class="form-group">
    <input type="text" id="desc" name="desc" formControlName="desc" class="form-control" placeholder="Desc">
    <div class="alert alert-danger" *ngIf="productAddForm.get('desc').hasError('required') && productAddForm.get('desc').dirty">Desc
      Required</div>
  </div>
  <div class="form-group">
    <input type="text" id="imageUrl" name="imageUrl" formControlName="imageUrl" class="form-control" placeholder="imageUrl Path">
    <div class="alert alert-danger" *ngIf="productAddForm.get('imageUrl').hasError('required') && productAddForm.get('imageUrl').dirty">imageUrl
      Required</div>
  </div>
  <div class="form-group">
    <input type="text" id="price" name="price" formControlName="price" class="form-control" placeholder="price">
    <div class="alert alert-danger" *ngIf="productAddForm.get('price').hasError('required') && productAddForm.get('price').dirty">Price
      Required</div>
  </div>

  <div class="form-group">
    <select class="form-control" formControlName="categoryId" required id="categoryId" name="categoryId" placeholder="Category">
      <option *ngFor="let kategori of categories" [value]="kategori.id">{{kategori.name}}</option>
    </select>
    <div *ngIf="productAddForm.get('categoryId').hasError('required') && productAddForm.get('categoryId').touched" class="alert alert-danger">Category required</div>
  </div>

  <button type="submit" class="btn btn-primary">Add Product</button>

</form>
